.section-trabajamos-juntos {
    max-width: 800px;
}

svg {
    width: 50px;
    padding: 15px;
    cursor: pointer;
}
 svg:hover {
    fill: rgb(171, 29, 171);
    transition: .3s ease;
}

.cont-main-img-trabajamos-juntos {
    display: flex;
    width: 100%;
    margin: 3rem 0;
}

.cont-social-trabajamos-juntos {
    margin-top: 3rem;
}

.cont-main-img-trabajamos-juntos div {
    width: 33%;
}

.cont-main-img-trabajamos-juntos div img {
    width: 100%;
}

@media (max-width: 780px) {
    .cont-main-img-trabajamos-juntos {
        flex-direction: column;
        width: 100%;
    }

    .cont-main-img-trabajamos-juntos div {
        width: 100%;
    }
}