.cont-items-main-blog {
    width: 80%;
    margin: auto;
}

.cont-item-blog {
    margin: 6rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont-img-item-blog {
    width: 100%;
}

.img-item-blog {
    width: 100%;
    object-fit: cover;
}

.cont-txt-item-blog {
    margin-top: 2rem;
}

.cont-txt-item-blog > h4 {
    font-weight: bold;
}

@media (max-width: 780px) {
    .cont-item-blog {
        margin: 3rem 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}