.vstack {
    display: flex;
    flex-direction: row !important;
    justify-content: space-around !important;
}

@media (max-width: 780px) {
    .vstack {
        display: flex;
        flex-direction: column !important;
        flex: none !important;

    }
    .modal-footer {
        justify-content: center !important;
    }
}
