.cont-btn-cv {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 780px) {
    .cont-btn-cv {
        flex-direction: column;
        margin: auto;
    }

    .cont-btn-cv a,
    .cont-btn-cv button {
        margin: .5rem;
    }   
}
