.section-bio {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 800px;
    margin: 3rem 0;
}

.section-bio .cont-img-bio {
    width: 100%;
}

.img-bio {
    width: 100%;
    border-radius: 5px;
}

@media (max-width: 780px) {
    .section-bio {
        flex-direction: column;
        margin: 3rem 0 0 0;
    }
}
